
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #111;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.p-loop-slider {
	position: relative;
  overflow: hidden;
}

.p-loop-slider__wrapper {
	display: flex;
	will-change: transform;
}

.p-loop-slider__item {
	flex-shrink: 0;
	overflow: hidden;
	position: relative;
  width: 320px;
  height: 320px;
  margin-right: 16px;

	img {
		height: 100%;
		width: auto;
		will-change: transform;
		display: block;
		position: absolute;
		top: 0;
		right: 0;
	}
}